* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  background-color: #f7f7f7;
}

body,
#app {
  height: inherit;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
